{% extends '@EasyAdmin/layout.html.twig' %}
{% block content_title %} Panneau d'administration {% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('home') }}">Index du forum</a>
{% endblock %}
{% block main %}
    <p>
        Bienvenue dans le panneau d'administration du forum : <a href="{{ path('home')}} ">{{ website_name() }}</a>.
        Ici, vous allez pouvoir gérer votre forum, ses utilisateurs et les groupes d'utilisateurs. 
        Les liens à votre gauche vous permettront de contrôler tous les aspects de votre forum.
    </p>
    <p>Sur cette page, vous allez pouvoir consulter les statistiques du forum.</p>
    <h2 class="h4 text-center bg-primary text-white p-2 mb-0">Statistiques du forum</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Statistiques</th>
                <th>Valeur</th>
                <th>Statistiques</th>
                <th>Valeur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Nombre de messages</th>
                <td>{{stats.post}}</td>
                <th>Nombre de sujets</th>
                <td>{{stats.topic}}</td>
            </tr>
            <tr>
                <th>Nombre de membres</th>
                <td>{{stats.user}}</td>
                <th>Nombre de groupes</th>
                <td>{{stats.role}}</td>
            </tr>
            <tr>
                <th>Nombre de forums</th>
                <td>{{stats.forum}}</td>
                <th>Nombre de catégorie</th>
                <td>{{stats.category}}</td>
            </tr>
        </tbody>
    </table>
    <hr class="my-5">
    <h2 class="text-center fs-1 fw-bold">L'actualité du forum</h2>
    <p class="fs-5 my-3 text-center">Découvrez ci-dessous les dernières activités survenues sur votre forum.</p>
    <div class="row mt-5 mb-4">
        <div class="col-md-4">
            <div class="card shadow bg-light">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Les derniers messages</h3>
                    <div class="card-text">
                        {% for post in posts %}
                           <div class="rounded-3 shadow p-3 my-4 bg-white">
                                <a href="{{ path('topic', {id:post.topic.id, slug:post.topic.slug}) }}#post{{post.id}}">
                                    {{ post.title }}
                                </a> par {{ post.author.username }}
                            </div>
                       {% else %}
                           <div class="rounded-3 shadow p-3 my-4 bg-white">
                                Aucun résultat
                            </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow bg-light">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Les derniers sujets</h3>
                    <div class="card-text">
                        {% for topic in topics %}
                           <div class="rounded-3 shadow p-3 my-4 bg-white">
                                <a href="{{ path('topic', {id:topic.id, slug:topic.slug}) }}">{{ topic.title }}</a> 
                                par {{ topic.author.username }}
                            </div>
                       {% else %}
                           <div class="rounded-3 shadow p-3 my-4 bg-white">
                                Aucun résultat
                            </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        <div class="card shadow bg-light">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Les derniers membres inscrits</h3>
                    <div class="card-text">
                       {% for user in users %}
                           <div class="rounded-3 shadow p-3 my-4 bg-white">
                                <a href="{{ path('profile', {id:user.id}) }}">{{ user.username }}</a>, 
                                inscrit le {{ user.created|date('d/m/Y, H:i') }}
                            </div>
                       {% else %}
                           <div class="rounded-3 shadow p-3 my-4 bg-white">
                                Aucun résultat
                            </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}