{% extends '@EasyAdmin/layout.html.twig' %}

 {% set url_index = ea_url()
    .setController('App\\Controller\\Admin\\UserCrudController')
    .setAction('index') %}
{% set url_detail = ea_url()
    .setController('App\\Controller\\Admin\\UserCrudController')
    .setAction('detail')
    .setEntityId(user.id) %}

{% block content_title %} Modifier les rôles de <em>{{ user.username }} </em>{% endblock %}
{% block page_actions %}
    <a class="action-index btn btn-secondary" href="{{ url_detail }}">Détail de l'utilisateur</a>
    <a class="btn btn-primary" href="{{ url_index }}">Liste des utilisateurs</a>
{% endblock %}
{% block main %}
    <p class="mt-3">
        Sur cette page, vous allez pouvoir modifier les rôles d'un utilisateur. 
        Attention, chaque rôle correspond à des permissions. 
        En changeant les rôles d'un utilisateur, vous modifiez donc ses permissions. 
        Ainsi, si vous donner le rôle de <strong>ROLE_MODERATOR</strong> à un utilisateur, il aura des pouvoirs de modérations.
        Le rôle <strong>ROLE_ADMIN</strong> lui donnera des pouvoirs d'administration.
    </p>
    <h2 class="h3 mt-4">Informations sur l'utilisateur</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Inscription</th>
                <th>Rôles actuels</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created|date('d/m/Y, H:i') }}</td>
                <td>{{ user.roles|join(', ')}}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="h3 mt-5">Changer les rôles de l'utilisateur</h2>
    {{ include('admin/_roles.html.twig') }}
    
{% endblock %} 