{% set home = path('mcp_home') %}
{% set show = path('mcp_view') %}
{% set report_post = path('mcp_report', {type:"post"}) %}
{% set report_mp = path('mcp_report', {type:"pm"}) %}
<ul class="nav nav-tabs mx-1 mt-3 flex-column flex-sm-row">
    <li class="nav-item">
        <a class="nav-link {{ active_link(app.request.pathinfo, home) }}" aria-current="page" href="{{home}}">Principal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ active_link(app.request.pathinfo, report_post, false) }}" href="{{report_post}}">Messages rapportés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ active_link(app.request.pathinfo, report_mp, false) }}" href="{{report_mp}}">MP rapportés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ active_link(app.request.pathinfo, show, false) }}" href="{{show}}">Informations</a>
    </li>
</ul>