<div class="rounded-3 bg-light p-2 mt-2">
    <table class="table">
        <thead>
            <tr>
                <th><h3 class="text-uppercase h6 m-0">Informations</h3></th>
                <th><h3 class="text-uppercase h6 m-0">Actions</h3></th>
            </tr>
        </thead>
        <tbody>
            {% for privateMessage in privateMessages %}
                <tr class="table-secondary">
                    <td>
                        <h4 class="mb-0">{{ privateMessage.title }}</h4>
                        <p class="mb-0">
                            <i class="bi bi-file-earmark-fill"></i> 
                            Par <a href="{{path('profile', {id:privateMessage.author.id})}}" class="fw-bold" style="color:{{ privateMessage.author.color }}">
                                {{ privateMessage.author.username }}
                            </a> &raquo; 
                            {{privateMessage.created  | date("d/m/Y, H:i") }}
                        </p>
                        <p>
                            <i class="bi bi-file-earmark-fill"></i> 
                            À <a href="{{path('profile', {id:privateMessage.addressee.id})}}" class="fw-bold" style="color:{{ privateMessage.addressee.color }}">
                                {{ privateMessage.addressee.username }}
                            </a>
                        </p>
                    </td>
                    <td class="align-middle text-center">
                        <a href="{{path('inbox_show', {id:privateMessage.id})}}" class="btn btn-secondary">
                            Voir <i class="bi bi-eye"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr class="table-secondary">
                    <td colspan="2" class="text-center">Il n'y a aucun message privé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>