<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil | {{ website_name() }} {% endblock %}</title>
        <meta name="description" content="{{ website_description() }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container main-wrap">
            {% include 'includes/_header.html.twig' %}
            
            <nav class="rounded-3 bg-default mt-2 p-2"  role="navigation" aria-label="Menu principal">
                <div class="top-navbar">
                    <ul class="navigation-group">
                        <li><a href="{{ path('users_list') }}"><i class="bi bi-people-fill"></i> Membres</a></li>
                        <li><a href="{{path('search')}}"><i class="bi bi-search"></i> Recherche</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href=""><i class="bi bi-gear"></i> PCA</a></li>
                        {% endif %}
                        {% if can_moderate() %}
                            <li><a href="{{path('mcp_home')}}"><i class="bi bi-hammer"></i> PCM</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navigation-group">
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="#"><i class="bi bi-envelope"></i> Messages privé</a></li>
                        <div class="dropdown">
                            <button 
                                class="dropdown-toggle border-0 fw-bold" 
                                type="button" id="dropdownMenuButton1" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false"
                                style="color:{{ app.user.color }}">
                                {{app.user.username }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{{ path('profile', {id:app.user.id}) }}">Profil</a></li>
                                <li class="ps-0"><a class="dropdown-item" href="{{path('account')}}">Mon compte</a></li>
                                <li class="ps-0"><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <li><a href="{{path('app_register')}}"><i class="bi bi-pencil-square"></i> Inscription</a></li>
                        <li><a href="{{path('app_login')}}"><i class="bi bi-power"></i> Connexion</a></li>
                    {% endif %}
                    </ul>
                </div>
                <hr class="navbar-separator">
                <ol class="breadcrumb navigation-group">
                    <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="bi bi-house-fill"></i> Index du forum</a></li>
                    {% block breadcrumb %}  {% endblock %}
                </ol>
            </nav>
            <p><small>Nous sommes le {{current_date()}} </small></p>
            
            <main>
                {% block body %}{% endblock %}
            </main>
            {% include 'includes/_footer.html.twig' %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
    </body>
</html>
