{% extends 'base.html.twig' %}

{% set subject = 'Informations sur un message' %}

{% block title %} {{subject}} | {{ website_name() }}{% endblock %}

{% block breadcrumb %} 
    <li class="breadcrumb-item">
        <a href="">Panneau de contrôle du modérateur </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{subject}}</li> 
{% endblock %}

{% block body %}
    <section class="rounded-3 bg-default my-2 p-2">
        <h2 class="h4 ps-3">{{subject}}</h2>
        <div class="bg-light rounded-3 mx-3 p-2 border">
            <a href="{{path('post_edit', {id:post.id})}}" class="btn btn-outline-secondary btn-sm float-end" title="Editer">
                <i class="bi bi-pencil-fill"></i>
            </a>
            <h3 class="h5">
                <a href="{{ path('topic', {id:post.topic.id, slug:post.topic.slug}) }}#post{{post.id}}">{{ post.title }}</a>
            </h3>
            {{ include('post/_post_info.html.twig') }}
            <p>{{post.content | nl2br }}</p>
        </div>
        <div class="bg-light rounded-3 mx-3 my-2 p-2 border">
            <h3 class="text-uppercase h6 border-bottom border-dark">Option de modération</h3>
            {{ form_start(form) }}
                <div class="row mb-3">
                    <div class="col-md-2 fw-bold">{{form_label(form.author)}}</div>
                    <div class="col-md-8">
                        {{ form_widget(form.author) }}
                        {{ form_errors(form.author) }}
                    </div>
                    <div class="col-md-2 tex-center">
                        <button type="submit" class="btn btn-primary">Changer l'auteur</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="bg-light rounded-3 mx-3 p-2 border">
            <a href="{{ path('topic', {id:post.topic.id, slug:post.topic.slug}) }}#post{{post.id}}">Revenir au dernier sujet visité</a>
        </div>
    </section>
{% endblock %}

