{% extends 'base.html.twig' %}

{% block title %} {{ topic.title }} | {{ website_name() }}{% endblock %}

{% block breadcrumb %} 
{{ include('topic/_breadcrumb_topic.html.twig') }}
{% endblock %}

{% block body %}
<section>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-1">
            {{ message }}
        </div>
    {% endfor %}
    <h2>
        <a href="{{ path('topic', {id:topic.id, slug:topic.slug}) }}">{{ topic.title }}</a>
        {% if can_edit(app.user, topic) %}
            <a href="{{path('topic_edit', {id:topic.id})}}" class="btn btn-outline-primary btn-sm" title="Editer le sujet">
                <i class="bi bi-pencil-fill"></i>
            </a>
        {% endif %}
    </h2>
    <p> 
        Par 
        {% if topic.author is not null %}
            <a href="{{path('profile', {id: topic.author.id})}}" style="color:{{ topic.author.defaultRole.color }}" class="fw-bold author">{{ topic.author.username }}</a>
        {% else %}
            <span class="fw-bold">Anonyme</span>
        {% endif %}
        &raquo; {{ topic.created | date("d/m/Y, H:i") }}
    </p>
    <aside class="d-flex justify-content-between">
        <div>
           {{ include('topic/_reply.html.twig') }}
            {% if can_moderate() %}
                <div class="dropdown" style="display: inline-block">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" title="outils de modération" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-hammer"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" href="{{path('topic_view', {id:topic.id})}}" title="informations">
                                Informations sur le sujet
                            </a>
                        </li>
                        <li>
                            <a href="{{path('topic_move', {id:topic.id})}}" class="dropdown-item" title="Déplacedr">Déplacer le sujet</a>
                        </li>
                        <li>
                            <a href="{{path('topic_lock', {id:topic.id})}}" class="dropdown-item" title="Verrouiller">Verrouiller le sujet</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{path('topic_delete', {id:topic.id})}}" title="supprimer">
                                Supprimer le sujet
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <span class="pe-2">{{ posts.getTotalItemCount }} message{{ posts.getTotalItemCount  > 1 ? 's' : '' }}</span>
            {{ knp_pagination_render(posts) }}
        </div>
    </aside>

    {% for post in posts %}
        <article class="rounded-3 bg-default my-2 p-2">
            <div class="d-flex position-relative">
                <div class="pe-2 profile-post border-end border-white">
                    {% if post.author is not null %}
                        <figure class="mb-0">
                            {{ avatar_format(post.author.avatar) }}
                        </figure>
                        <a href="{{path('profile', {id: post.author.id})}}" class="fw-bold author" style="color: {{post.author.defaultRole.color}}">
                            {{post.author.username}}
                        </a>
                        <ul class="profil-post-info">
                            <li>Inscription : {{post.author.created | date("d/m/Y, H:i") }} </li>
                            {% if post.author.localisation is not null %}
                                <li>Localisation : {{post.author.localisation }} </li>
                            {% endif %}
                            {% if post.author.rank is not null %}
                                <li>Rang : {{post.author.rank }} </li>
                            {% endif %}
                            <li>Contact : 
                                <a href="{{ path('inbox_create', {replyTo:post.author.username}) }}" class="fs-6">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <span class="fw-bold author">Anonyme</span>
                    {% endif %}
                </div>
                <div class="ps-2">
                    <h3 id="post{{post.id}}"><a href="#post{{post.id}}">{{post.title}}</a></h3>
                    <div class="btn-group position-absolute top-0 end-0">
                        {% if is_locked(topic) == false %}
                            {% if can_edit(app.user, post) %}
                                <a href="{{path('post_delete', {id:post.id})}}" class="btn btn-outline-secondary btn-sm" title="Supprimer">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                                <a href="{{path('post_edit', {id:post.id})}}" class="btn btn-outline-secondary btn-sm" title="Editer">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                            {% endif %}
                            {% if can_moderate() %}
                                <a href="{{path('post_view', {id:post.id})}}" class="btn btn-outline-secondary btn-sm" title="Informations">
                                    <i class="bi bi-info-circle-fill"></i>
                                </a> 
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{path('post_report', {id:post.id})}}" class="btn btn-outline-secondary btn-sm" title="Rapporter le message">
                                    <i class="bi bi-exclamation-triangle-fill"></i>
                                </a>
                                <a href="{{ replyPath }}?quote={{post.id}}" class="btn btn-outline-secondary btn-sm" title="Citer">
                                    <i class="bi bi-quote"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                   {{ include('post/_post_info.html.twig') }}
                    <p>{{post.content | format_text }}</p>
                </div>
            </div>
        </article>
    {% else %}
        <article class="alert alert-danger">
            <h3 class="h5">Ce topic est vide !</h3>
        </article>
    {% endfor %}
</section>
<p>
    {{ include('topic/_reply.html.twig') }}
</p>
{% endblock %}
