{% extends 'base.html.twig' %}

{% block title %} {{ topic.title }} | {{ website_name() }}{% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item">
    <a href="{{ path('category', {id: topic.forum.category.id, slug: topic.forum.category.slug}) }}">
        {{ topic.forum.category.title }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    <a href="{{ path('forum', {id: topic.forum.id, slug: topic.forum.slug}) }}">{{ topic.forum.title }}</a>
</li> 
<li class="breadcrumb-item active" aria-current="page">{{ topic.title | capitalize }}</li> 
{% endblock %}

{% block body %}
<section>
    <h2><a href="{{ path('topic', {id:topic.id, slug:topic.slug}) }}">{{ topic.title }}</a></h2>
    <p> 
        Par 
        {% if topic.author is not null %}
            <a href="{{path('profile', {id: topic.author.id})}}" style="color:{{ topic.author.color }}" class="fw-bold author">{{ topic.author.username }}</a>
        {% else %}
            <span class="fw-bold">Anonyme</span>
        {% endif %}
        &raquo; {{ topic.created | date("d/m/Y, H:i") }}
    </p>

    {% for post in topic.posts %}
        <article class="rounded-3 bg-default my-2 p-2">
            <div class="d-flex">
                <div class="pe-2 profile-post border-end border-white">
                    {% if post.author is not null %}
                        <figure class="mb-0">
                            {{ avatar_format(post.author.avatar) }}
                        </figure>
                        <a href="{{path('profile', {id: post.author.id})}}" class="fw-bold author" style="color: {{post.author.color}}">
                            {{post.author.username}}
                        </a>
                        <ul class="profil-post-info">
                            <li>Inscription : {{post.author.created | date("d/m/Y, H:i") }} </li>
                            {% if post.author.localisation is not null %}
                                <li>Localisation : {{post.author.localisation }} </li>
                            {% endif %}
                            {% if post.author.rank is not null %}
                                <li>Rang : {{post.author.rank }} </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <span class="fw-bold author">Anonyme</span>
                    {% endif %}
                </div>
                <div class="ps-2">
                    <h3><a href="#post{{post.id}}">{{post.title}}</a></h3>
                    <p>
                        <i class="bi bi-file-earmark-fill"></i> 
                        <small>
                            {% if post.author is not null %}
                                Par <a href="{{path('profile', {id: post.author.id})}}" class="fw-bold author" style="color: {{post.author.color}}">{{post.author.username}}</a> &raquo; 
                            {% else %}
                                <span class="fw-bold author">Anonyme</span>
                            {% endif %}
                            {{post.created | date("d/m/Y, H:i")}} 
                        </small>
                    </p>
                    <p>{{post.content | nl2br }}</p>
                </div>
            </div>
        </article>
    {% else %}
        <article class="alert alert-danger">
            <h3 class="h5">Ce topic est vide !</h3>
        </article>
    {% endfor %}
</section>

{% endblock %}
