{% extends 'base.html.twig' %}

{% block title %} Membres | {{ website_name() }}{% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item active" aria-current="page">Membres</li> 
{% endblock %}

{% block body %}
<section>
    <h2>Liste des membres</h2>
    <article class="forum-section rounded-3 p-2">
        <h3 class="section-title d-flex justify-content-between">
            <span class="forum-label">Nom d'utilisateur</span>
            <span class="forum-label">Rang</span>
            <span>Inscription</span>
        </h3>
       {% for user in users %}
           <div class="forum-row bg-default">
                <p class="forum-description d-flex justify-content-between">
                    <span class="forum-label">
                        <a href="{{path('profile', {id: user.id})}}" style="color:{{ user.color }}" class="fw-bold">
                            {{user.username}}
                        </a>
                    </span>
                    <span class="forum-label"> {{user.rank }} </span>
                    <span>{{user.created | date("d/m/Y, H:i") }}</span>
                </p>
            </div>
       {% else %}
            <p class="forum-description fw-bold text-center">Aucun membre trouvé</p>
       {% endfor %}
    </article>
    <footer>
        <p class="fst-italic roles-container">
            Légende : 
            {% for role in roles %}
                <span style="color:{{role.color}}">{{role.name}}</span> 
            {% endfor %}
        </p>
    </footer>
</section>
{% endblock %}