{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ website_name() }} {% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item active" aria-current="page">Connexion</li> 
{% endblock %}

{% block body %}
<section>
    <h2 class="h3 mb-3 font-weight-normal">Veuillez vous authentifier</h2>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <article class="rounded-3 bg-default p-2">
        <h3 class="text-uppercase h6 border-bottom border-dark">Connexion</h3>
        <form method="post">    
            <label for="inputUsername">Pseudo</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword" class="mt-2">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <p>
                <a href="{{ path('app_forgot_password_request') }}">J'ai oublié mon mot de passe</a>
            </p>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <button class="btn btn-primary mt-2" type="submit">
                Connexion
            </button>
        </form>
    </article>
    <article class="rounded-3 bg-default p-2 mt-2">
        <h3 class="text-uppercase h6 border-bottom border-dark">Inscription</h3>
        <p>
            Vous devez être inscrit avant de pouvoir vous connecter. 
            L’inscription est rapide et vous offre de nombreux avantages.
        </p>
        <a href="{{ path('app_register') }}" class="btn btn-primary mt-2">Inscription</a>
    </article>
</section>


{% endblock %}
