{% extends 'base.html.twig' %}

{% block title %} {{ forum.title }} | {{ website_name() }}{% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item">
    <a href="{{ path('category', {id: forum.category.id, slug: forum.category.slug}) }}">{{ forum.category.title }}</a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ forum.title }}</li> 
{% endblock %}

{% block body %}
<h2>{{ forum.title }}</h2>
<p>{{ forum.description }}</p>

<section class="rounded-3 p-2 forum-section">
    <h2 class="section-title">Sujets</h2>

    {% for topic in forum.topics %}
        <article class="forum-row bg-default d-flex align-items-center">
            <div class="ps-1 pe-3 fs-2"><i class="bi bi-chat-text"></i></div>
            <div class="topic-bloc">
                <h3 class="forum-row-title">
                    <a href="{{ path('topic', {id:topic.id, slug:topic.slug}) }}">{{ topic.title | capitalize }}</a>
                </h3>
                <p class="forum-description m-0">
                    Par 
                    {% if topic.author is not null %}
                        <a href="#" style="color:{{ topic.author.color }}" class="fw-bold">{{ topic.author.username }}</a>
                    {% else %}
                        <span class="fw-bold">Anonyme</span>
                    {% endif %}
                    &raquo; {{ topic.created | date("d/m/Y, H:i") }}
                </p>
            </div>
        </article>
    {% else %}
        <article class="forum-row bg-default">
            <h3 class="forum-row-title text-center">Ce forum est vide</h3>
        </article>
    {% endfor %}

</section>
{% endblock %}